<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level %logger:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/logs/dts-console.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.home}/logs/dts-console.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level %logger:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.github.dts" level="info" />
	
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>

</configuration>